<form class="" action="/project" method="post">
  <label for="name">Project Title</label>
  <input type="text" name='title' class="form-control">
  <button type="submit" name="button">Create Project</button>
</form>
<a href="/">Home</a>
